.container {
    width: 500px;
    margin: 30px auto;
    text-align: center;
}

input {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;  
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    cursor: pointer;
}